.App {
  text-align: center;
}

.light-mode {
  --background-color: #ffffff;
  --text-color: #000000;
  --header-background: #f0f0f0;
  --text-color-hover: #007bff;
  --background-color-hover: #e0e0e0;
}

.dark-mode {
  --background-color: #000000;
  --text-color: #ffffff;
  --header-background: #333333;
  --text-color-hover: #1e90ff;
  --background-color-hover: #4f4f4f;
}
